#main-title {
  display: block;
  color: white;
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  transform: offset(-50%, -50%);
}

#dot {
  opacity: 0;
}

#main-title > p,
#main-title > h1 {
  display: inline;
}

#main-title > h1 {
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  margin-right: 1.25rem;
  cursor: pointer;
  font-size: 2rem;
}

#main-title > h1:hover {
  opacity: 0.85;
}

#main-title > p {
  font-weight: 300;
  color: white;
}

nav > ul {
  padding-top: 1.5rem;
  margin: 0;
  display: block;
  text-align: center;
}

nav > ul > li {
  margin: 0.5rem;
  display: inline;
  color: white;
  font-family: 'Crimson Text', serif;
  cursor: pointer;
  transform: all 0.3s ease;
}

nav > ul > li:hover {
  opacity: 0.7;
}
