.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: all 0.3s ease;
}

.list-image {
  height: auto;
  margin: 0 auto;
  width: 481px;
  max-height: 400px;
  cursor: pointer;
}

.list-image:hover {
  opacity: 0.9;
}

.list-text {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  color: black;
  width: 100%;
  margin: 0 auto;
  color: rgba(255,255,255,0.7);
  background-color: rgba(0,0,0,0.5);
}

.list-item-container {
  padding-top: 1.5rem;
  margin: 0;
  display: block;
  list-style: none;
}

